body{
    /* background-image: url(./img1.jpg); */
    background-color: rgba(206, 235, 251, 1);
    background-position: center;
}
h1{
    text-align: center;
    margin-top: 40px;
    /* color: blue; */
}
h3{
    margin: 1% 2%;
    text-align: center;
}



.btn{
    margin-left: 46.5%;
}
.about{
    margin-top: 10px;
}


.mainContent img{
    margin-left: 45%;
    height: 30vh;
}